<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">

                    <form #formularioReserva="ngForm" (ngSumit)="agregarReserva(formularioReserva)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="reservasService.selecionarReserva._id">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="nombrePelicula" #nombrePelicula="ngModel" [(ngModel)]="reservasService.selecionarReserva.nombrePelicula" placeholder="Ingrese el nombre de la pelicula">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="nombrePersona" #nombrePersona="ngModel" [(ngModel)]="reservasService.selecionarReserva.nombrePersona" placeholder="Ingrese el nombre de la persona">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="nombreTeatro" #nombreTeatro="ngModel" [(ngModel)]="reservasService.selecionarReserva.nombreTeatro" placeholder="Ingrese el nombre del teatro">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="horaReserva" #horaReserva="ngModel" [(ngModel)]="reservasService.selecionarReserva.horaReserva" placeholder="Ingrese la hora de la pelicula">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="ubicacion" #ubicacion="ngModel" [(ngModel)]="reservasService.selecionarReserva.ubicacion" placeholder="Ingrese la ubicacion">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="fecha" #fecha="ngModel" [(ngModel)]="reservasService.selecionarReserva.fecha" placeholder="Ingrese la fecha">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="precio" #precio="ngModel" [(ngModel)]="reservasService.selecionarReserva.precio" placeholder="Ingrese el precio">
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right" style="margin-left :2px" (click)="agregarReserva(formularioReserva)"> Reservar</button>
                                    <button class="btn" (click)="reserForm(formularioReserva)"> Limpiar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>nombrePelicula</th>
                    <th>nombrePersona</th>
                    <th>nombreTeatro</th>
                    <th>horaReserva</th>
                    <th>ubicacion</th>
                    <th>fecha</th>
                    <th>operacion</th>
                </thead>
                <tbody>
                    <tr *ngFor="let reserva of reservasService.reservas">
                        <td>{{reserva.nombrePelicula}}</td>
                        <td>{{reserva.nombrePersona}}</td>
                        <td>{{reserva.nombreTeatro}}</td>
                        <td>{{reserva.horaReserva}}</td>
                        <td>{{reserva.ubicacion}}</td>
                        <td>{{reserva.fecha}}</td>
                        <td>
                            <a (click)="editarReserva(reserva)">
                                <i class="material-icons">editar</i>
                            </a>
                            <a (click)="elminarReserva(reserva._id)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>