<nav class="nav-wrapper blue">
    <div style="text-align:center">

        <h3> BIENVENIDOS A CINEMATIC</h3>

    </div>
    <div class="div">

        <a class="direcionReservas" [routerLink]="['/reservas']">Realizar reserva</a>
    </div>

</nav>
<style type="text/css">
    .direcionReservas {
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #1883ba;
        border-radius: 6px;
        border: 2px solid #0016b0;
    }
</style>